.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.uploadBtn {
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f5f5f5;
<<<<<<< HEAD
} 
=======
}
>>>>>>> 35340f7b9e76b2c27323b657bf9c67ed8590db1c

.uploadBtn:hover {
  background-color: #eaeaea;
}

.loading {
  font-size: 11px;
  color: #555;
}
